head
    meta(charset='utf8',http-equiv='Content-Type')
    base(href='/')
    script(src='js/lib/angular/angular.js')
    script(src='/js/lib/ui-bootstrap-tpls-0.10.0.min.js')
    title Playing Blog
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css')	

